body {
    background: #131313;
    color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

section { 
    color: #e2e2e2;
    padding: 20px;
    display: flex;
    
}

nav {
    background: rgba(156, 102, 112, 0.548);
    height: 45px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
    height: 30px;
}

nav ul li{
    display: inline-block;
    margin: 0 5px;

}

nav ul li a{
    color: white;
    border-radius: 3px;
    padding: 7px 7px 3px 7px;

}

div.content-display div {
    background-color: palevioletred;
    display: inline-block;
    border-style: solid;
    border-radius: 10px;
    height: 100px;
    width: 150px;
}


a.active,a:hover{
    background: rgb(255, 132, 153);
    transition: .3s;
}

label.logo{
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    height: 30px;
    margin: 15px;
    display: inline-block;
}

h1 {
    padding-left: 20px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: -20px;
    color: #e2e2e2;
}

h2 {
    font-family: 'Nunito', sans-serif;
} 

h1.glance-green {
    color: green;

}

footer {
    background: black;
    padding: 10px 20px;
}

@media (max-width: 600px) {
    h1.glance-green {
        color: green;
    }
    

}