body {
    background: #fff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

section { 
    color: black;
    padding: 15px 0px 0px 15px;
    display: flex;
    width: 100%;
}

nav {
    background: #fff;
    height: 45px;
    width: 100%;
    border-bottom: 2px solid black;
}

nav ul{
    float: right;
    margin-right: 20px;
    height: 30px;
}

nav ul li{
    display: inline-block;
    margin: 0px 5px;

}

nav ul li a{
    color: black;
    border-radius: 3px;
    padding: 7px 7px 3px 7px;

}


div.content-display span {
    background-color: #fff;
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
    border-radius: 10px;
    height: 430px;
    width: 300px;
    vertical-align: top;
}

.content-box > p {
    padding-left: 10px;
}

.img-display{
    width: 300px;
    height: 250px;
}

a.active,a:hover{
    background: lightgray;
    transition: .3s;
}

label.logo{
    font-size: large;
    font-family: 'Nunito', sans-serif;
    height: 20px;
    margin: 10px 0px 0px 15px;
    display: inline-block;
}

h1 {
    padding-left: 20px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: -20px;
    color:  black  ;
}

h2 {
    font-family: 'Nunito', sans-serif;
} 

h4 {
    font-family: 'Nunito', sans-serif;
} 

h1.glance-green {
    color: green;

}

footer {
    background: #fff;
    padding: 10px 20px;
    border-top: 2px solid black;
}



@media (max-width: 450px) {
    .topnav > li > a{
        padding: 7px 0px 7px 0px;
    }
}