body {
    background: #fff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

section { 
    color: black;
    padding: 25px 15px;
    display: flex;
    width: 100%;
}

nav {
    background: #fff;
    height: 45px;
    width: 100%;
    border-bottom: 2px solid black;
}

nav ul{
    float: right;
    margin-right: 20px;
    height: 30px;
}

nav ul li{
    display: inline-block;
    margin: 0px 5px;

}

nav ul li a{
    color: black;
    border-radius: 3px;
    padding: 7px 7px 3px 7px;

}


div.content-display span {
    background-color: #fff;
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
    border-radius: 30px;
    height: 450px;
    width: 300px;
    vertical-align: top;
}

.content-box {
    margin-left: auto;
    margin-right: auto;
}

.content-box h4 {
    text-align: center;
}

.content-box p {
    text-align: left;
    padding-left: 15px;
}

.img-display{
    padding-left: -10px;
    width: 100%;
    height: 250px;
}

a:hover{
    background: lightgray;
    transition: .3s;
}




label.logo{
    font-size: large;
    font-family: 'Nunito', sans-serif;
    height: 20px;
    margin: 10px 0px 0px 15px;
    display: inline-block;
}

h1 {
    padding-left: 20px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: -20px;
    color:  black  ;
}

h2 {
    font-family: 'Nunito', sans-serif;
} 

h4 {
    font-family: 'Nunito', sans-serif;
} 

h1.glance-green {
    color: green;

}

footer {
    background: #fff;
    padding: 10px 20px;
    border-top: 2px solid black;
}

table {
    border: 1px solid;
}

td,th {
    width: auto;
    border-right: 30px;
}


@media (max-width: 450px) {
    .topnav > li > a{
        padding: 7px 0px 7px 0px;
    }
}