body {
    background: #131313;
    color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

section { 
    color: #e2e2e2;
    padding: 20px;
    display: flex;
    
}

h1 {
    padding-left: 20px;
    color: #e2e2e2;
}

h1.glance-green {
    color: green;

}

footer {
    background: black;
    padding: 10px 20px;
}
div {
    
    
}

ul {
    margin: 0;
    padding: 20px; 
    list-style-type: none;
    font-size: large;
    color: white;

}

li {
    display: flex;
    margin-left: 30px;
    
}

topnav {
    display: inline;


}

.nav-right {
    float:right;
    object-position: center;
    width: 50px;
    height: 50px;
    
}

.nav-home {
    background-image: url(images/lululemon_logo.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    color: transparent;
    margin-left: 0px;
    display: inline;
}

